.navbar-brand {
	color: #f8fafa;
}

.navbar-brand:focus {
	color: #f8fafa;
}

.navbar-brand:hover {
	color: lightgray;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}
#header {
	font-family: 'Poppins', sans-serif;
}
