<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-info" id="myHeader">
	<a class="navbar-brand" [routerLink]="['/profile']"><b>My Chat</b></a>
	<button
		(click)="isCollapsed = !isCollapsed"
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNavDropdown"
		aria-controls="navbarNavDropdown"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active" *ngIf="Authenticated()">
				<a class="nav-link fas fa-user-friends" [routerLink]="['/friends']" routerLinkActive="active-link">
					Friends <span class="sr-only">(current)</span></a
				>
			</li>
			<li class="nav-item active" *ngIf="Authenticated()">
				<a class="nav-link fas fa-comments" [routerLink]="['/convos']" routerLinkActive="active-link">
					Unread Messages <span class="sr-only">(current)</span></a
				>
			</li>
			<li class="nav-item active" *ngIf="Authenticated()">
				<a class="nav-link fas fa-sign-out-alt" (click)="logout()"> Logout </a>
			</li>
		</ul>
	</div>
</nav>
