<div class="row">
	<div class="col-12 text-center">
		<h1>Friends List</h1>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="list-group  justify-content-between">
			<div *ngIf="list.length > 0">
				<button
					type="button"
					class="list-group-item list-group-item-action btn btn-outline-success mt-1 mb-2"
					*ngFor="let email of list"
					(click)="switchTab(email)"
				>
					{{ email }}
					<div class="d-inline-block" *ngIf="addOnlineMark(email); else offline">
						<img src="assets/online.ico" alt="" />
					</div>
				</button>
			</div>
		</div>
	</div>
</div>
<ng-template #offline>
	<div class="d-inline-block">
		<img src="assets/offline.ico" alt="" />
	</div>
</ng-template>
