<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="{{ avatar }}" alt="Card image cap" />
	<div class="row">
		<div class="col-12 text-right"><app-upload (onUploadFinished)="updateImage($event)"></app-upload></div>
	</div>

	<div class="card-body">
		<h5 class="card-title">{{ profile.alias }}</h5>
		<p class="card-text">
			{{ profile.description }}
		</p>
	</div>
	<ul class="list-group list-group-flush" *ngIf="!IsMe()">
		<li class="list-group-item">Add Friend</li>
		<li class="list-group-item">Block</li>
	</ul>
</div>
