img {
	width: 140px;
	border-radius: 100%;
}

li {
	border-radius: 2% !important;
	border-bottom: outset !important;
}

span{
	overflow:hidden;
}

.container{
	overflow: scroll;
    height: 90vh;
}
////
