<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<form [formGroup]="form" (ngSubmit)="register(form.value)">
				<div class="row">
					<div class="col-12">
						<h1>Register</h1>
					</div>
				</div>
				<div class="alert alert-success" role="alert" [hidden]="!showSuccess">
					You have successfully registered!
				</div>
				<div class="alert alert-danger" role="alert" [hidden]="!showError">
					<p *ngFor="let error of errors">{{ error }}</p>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input
						type="email"
						formControlName="email"
						class="form-control"
						aria-describedby="emailHelp"
						placeholder="Enter email"
					/>
					<small id="emailHelp" class="form-text text-muted"
						>We'll never share your email with anyone else.</small
					>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input
						type="password"
						formControlName="password"
						class="form-control"
						id="exampleInputPassword1"
						placeholder="Password"
					/>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="submit" id="registerBtn" [disabled]="!form.valid" class="btn btn-info">
							Register
						</button>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						<a class="stretched-link" [routerLink]="['/login']" routerLinkActive="router-link-active"
							>Already have an account? Sign in</a
						>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
